html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  font: 16px / 1 sans-serif;
  background-color: #008aa1;
}

header {
  margin: 0;
  padding: 2rem;
  width: 80%;
  /* background-color: #ddf2f3; */
  text-align: center;
  font-size: 4em;
  font-family: serif;
}

nav {
  margin: 0;
  width: 100%;
  background-color: #00bfd5;
}

nav ul {
  margin: 0 auto;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

main {
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

aside {
  border: 1px solid black;
}

main div {
  width: 50%;
}

.all {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: auto;
  background-color: #ddf2f3;
  width: 80%;
}
