html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  font: 16px / 1 sans-serif;
  background-color: #008aa1;
}

header {
  margin: 0;
  padding: 2rem 0;
  width: 100%;
  text-align: center;
  font-size: 4em;
  font-family: serif;
  color: #415467;
}

nav {
  margin: 0;
  width: 100%;
  background-color: #00bfd5;
}

nav ul {
  margin: 0 auto;
  padding: 0.5rem 0;
  list-style: none;
  display: flex;
  justify-content: center;
}

nav ul li {
  padding: 0 0.75rem;
}

main {
  margin: 0 auto;
  padding: 5% 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

aside {
  border: 1px solid black;
  padding: 0.25em;
}

aside ul {
  line-height: 1.25;
  font-weight: bold;
}

h1 {
  color: #415467;
}
main div {
  width: 66%;
}

footer {
  background-color: #d3d3d3;
  padding: 0.5em;
}

.all {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: auto;
  background-color: #ddf2f3;
  width: 70%;
}

.topnav {
  color: white;
}
